@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');
body{
    background-color: whitesmoke;
    font-family: 'Fira Code';
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
}
.section-1{
    width: 50%;
    height: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.logo .img{
    max-width: 300px;
    width: 200px;
    height: 200px;
    background-image: url('./img/logo.png');
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}
.rounded-50{
    border-radius: 50%;
    overflow: hidden;
}
.img img{
    max-width: 100%;
}

.section-2{
width: 50%;
height: 100%;
padding: 25px;
background-color: rgba(100, 20, 255, 0,3);
}